body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: #000;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 2.2em;
  border-bottom: 1px solid #C93838;
  background: #C93838;
  z-index: 100;
}

header.scrolled {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

header > a {
  padding: 0;
  margin: -0.32em 0.2em;
  color: #FFF;
  font-size: 2.5em;
  text-decoration: none;
}

header > span {
  margin: -0.15em 0.3em;
  font-size: 2em;
  color: #FFF;
}

header > span:last-child {
  display: none;
}

footer {
  padding: 2vh 5vh;
  text-align: center;
  color: #C93838;
  font-size: 0.7em;
  font-style: italic;
}

main {
  margin: 7vw 10vw;
}

section {
  display: flex;
  padding-bottom: 2em;
}

section.label {
  padding-bottom: 0;
}

section div:first-child {
  -webkit-flex: 1 0 0;
  flex: 0.5 0 0;
}

section div:last-child {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  padding-left: 4em;
}

h4.main-label,
.label-block > .main-label > h4 {
  font-family: 'Bitter';
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

h4.main-label::after,
.label-block > .main-label > h4::after {
  content: '\a —';
  white-space: pre;
}

div > .dashed-spacer {
  border-top: 1px dashed #000;
  margin-top: 3em;
}

#info-box,
#info-box > p {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#info-box > h1,
#info-box > h3,
#info-box > h5,
#info-box > p {
  padding: 0;
  margin: 0;
}

#info-box > h1 {
  font-family: 'Impact', monospace;
  font-size: 5.2em;
  margin-top: -0.2em;
}

#info-box > h3 {
  font-size: 2em;
  font-weight: lighter;
  margin-top: -0.1em;
}

#info-box > h5 {
  font-family: 'Bitter';
  font-size: 1em;
  padding: 1em 0;
  text-decoration: underline;
}

#info-box > p {
  font-size: 0.8em;
  padding: 0.8em 0;
  text-decoration: underline;
}

#info-box > p:last-child {
  font-weight: bold;
  text-decoration: none;
}

#summary-box > h4 {
  font-family: 'Bitter';
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

#summary-box > p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.1em;
}

#tech-stack-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
}

#tech-stack-box > h5 {
  text-decoration: underline;
}

#tech-stack-box > p {
  font-size: 0.7em;
  width: 85%;
  text-align: center;
}

span.tech-stack::after {
  content: ' | '
}

section > div:first-child {
  display: flex;
  flex-direction: column;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
}

section > div:first-child > h4 {
  font-family: 'Bitter';
  font-size: 1em;
  padding: 0;
  margin: 0;
}

section > div:first-child > span,
section > div:first-child > a {
  font-size: 0.8em;
}

section > div:last-child > h3,
section > div:last-child > h4,
section > div:last-child > h5 {
  padding: 0;
  margin: 0;
}

section > div:last-child > h3 {
  margin-top: 1em;
  font-size: 1em;
}

section > div:last-child > h5 {
  text-decoration: underline;
}

section > div:last-child > p,
section > div:last-child > ul {
  margin-top: 0.5em;
  font-size: 0.9em;
}

@media (max-width: 500px)  {
  section {
    display: block;
  }

  header > span {
    display: none;
  }

  header > span:last-child {
    display: block;
  }

  main {
    margin: 15vw 10vw;
  }

  section {
    display: block;
  }

  section > div:first-child {
    padding-top: 1em;
    border-top: 1px dashed #000;
  }

  section div:last-child {
    padding: 2em 0 0 0;
  }

  #info-box,
  .label-block > div:first-child {
    padding-top: 0;
    border-top: none;
  }

  .label-block > div:last-child {
    display: none;
  }
}

@media print {
  header,
  footer {
    display: none;
  }
}
