/* Landing Page Styling */

body {
  background: #FFF;
  font-family: 'IBM Plex Serif', serif;
  margin: 10vw 0 0 25vw;
}

h4 {
  padding: 1em 0 0;
  margin: 0;
  font-weight: 400;
}

p {
  font-size: 0.7em;
  padding: 0;
  margin: 0;
  width: 40vw;
}

a,
a:active,
a:hover,
a:visited {
  color: #000;
}
